// This file must be imported before loading html5-boilerplate
$base-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;  // default font-family

//##############################################################################
// BASE Variables
$font-size-normal: 18px;
$line-height-normal: 21px;

// #COLORS#

$color-primary-light: #f1faff;

$info-color-ultralight: #addef6;
$info-color-light: #5bbdee;
$info-color: #029eee;
$info-color-dark: #0072ac;
$success-color-ultralight: #ebf8e6;
$success-color-light: #7cbe5a;
$success-color: #5bae31;
$success-color-dark: #5da03d;
$warning-color-ultralight: #fffde4;
$warning-color-light: #ffc600;
$warning-color: #ffb400;
$warning-color-dark: #ffa800;
$error-color-ultralight: #fff3f3;
$error-color-light: #ef4a4a;
$error-color: #e80101;
$error-color-dark: #d50101;

// Content
$content-margin: 55px;

// Padding & Margin
$breadcrumb-padding: 20px;
$toolbar-margin-button: ($toolbar-height - $toolbar-button-height) / 2;
$toolbar-margin-logo: ($toolbar-height - $toolbar-logo-height) / 2;
$content-margin-top: $toolbar-height + ($breadcrumb-padding * 2) + $line-height-normal + $content-margin;


// Buttons

/* inactive */
$button-inactive-medium-color: #efefef;
$button-inactive-dark-color: #eee;
$button-inactive-font-color: #bbb;

/* Silver */
$button-silver-light-color: #ededed;
$button-silver-medium-color: #d4d4d4;
$button-silver-dark-color: #d4d4d4;
$button-silver-font-color: #6d6d6d;

/* Blue */
$button-blue-light-color: #48abd9;
$button-blue-medium-color: $color-primary;
$button-blue-dark-color: #0072ac;
$button-blue-font-color: #fff;

/* Red */
$button-red-light-color: #ef4a4a;
$button-red-medium-color: #e80101;
$button-red-dark-color: #d50101;
$button-red-font-color: #fff;

/* Green */
$button-green-light-color: #7cbe5a;
$button-green-medium-color: #5bae31;
$button-green-dark-color: #5da03d;
$button-green-font-color: #fff;


// Then we'll import the compass extension
@import "libs/_html5-boilerplate.scss";

// Now, you can simply include everything
// (except media) by uncommeting this line
@include html5-boilerplate;
