*.py[cod]
*$py.class
*.egg-info
*.log
*.pot
.DS_Store
.coverage
.eggs/
.idea/
.project/
.pydevproject/
.vscode/
.settings/
.tox/
__pycache__/
build/
dist/
env/
.venv/

/~
/node_modules
.sass-cache
*.css.map
npm-debug.log

local.sqlite
testdb.sqlite*

tests/screenshots/*
!tests/screenshots/reference-*
!djangocms_admin_style/static/djangocms_admin_style/js/dist
