*.pyc
dist
!djangocms_admin_style/static/djangocms_admin_style/js/dist
*egg-info*
bin/
include/
lib/
node_modules
*.sqlite
database.db
.idea
.sass-cache
build
.eggs
tests/screenshots/*
!tests/screenshots/reference
env-18
env-19
