*.pyc
dist
!djangocms_admin_style/static/djangocms_admin_style/js/dist
*egg-info*
bin/
include/
lib/
node_modules
*.sqlite
database.db
.idea
.sass-cache
build
.eggs
screenshots/results
screenshots/failures
screenshots-django18
screenshots-django19
env-18
env-19
