// base

body {
    background-color: $gray-lightest;
    .breadcrumbs {
        padding: 20px 0 !important;
    }
    h1 {
        margin-left: 0;
    }
    .module h2 {
        padding-left: 0;
    }
    &.dashboard {
        background-color: $white;
        h1 {
            margin-left: 10px;
        }
        .breadcrumbs {
            padding: 20px 10px !important;
        }
    }
}

body,
select,
input,
textarea {
    color: $gray-darkest;
}

h1 {
    color: $gray-darkest;
    font-size: $font-size-normal;
    font-weight: bold;
    margin: 20px 10px 45px;
}
h2 {
    color: $gray-darkest;
    font-size: 130%;
    font-weight: bold;
    line-height: 1.75em;
    margin: 20px 10px 45px;
}
h3 {
    color: $gray-darkest;
    font-size: 120%;
    font-weight: bold;
}
h4 {
    color: $gray-darkest;
    font-size: 110%;
    font-weight: bold;
}
h5 {
    color: $gray-darkest;
    font-size: 100%;
}
h6 {
    color: $gray-darkest;
    font-size: 100%;
}
a.btn {
    @include button-common-init();
    border-radius: $border-radius-base;
}
a,
a:link {
    color: $color-primary;
    text-decoration: none;
    &:visited,
    &:hover,
    &:active {
        color: $color-primary;
    }
}

p {
    font-weight: normal;
    margin-bottom: 6px;
}

code {
    color: $gray;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 11px;
    background: inherit;
    strong {
        color: #930;
    }
}

pre {
    color: $gray;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 11px;
    background: inherit;
    &.literal-block {
        background: $gray-lighter;
    }
}

div hr {
    margin: 20px 0;
    border: none;
    background: $gray-lighter;
}

strong {
    font-weight: bold;
}
.small,
small {
    font-size: 14px;
    margin-top: 0;
}

.mini {
    font-size: 11px;
}

.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

// FIXME: These are actually fixes in the django CMS code base but setting here too for a quicker release
#sitemap li .cont {
    overflow: visible !important;
}
