html {
    position: relative;
}
// containers
body {
    #container {
        position: static;
        width: auto !important;
        min-width: 768px !important;
        padding-top: 0 !important;
        .breadcrumbs {
            position: absolute;
            top: 0;
            right: 3%;
            left: 3%;
            color: $gray !important;
            font-size: 15px;
            margin-top: $toolbar-height;
            padding: $breadcrumb-padding 10px;
            border-top: 0;
            border-bottom: 1px solid $gray-lighter;
            background: transparent !important;
            a {
                color: $color-primary;
                &:first-child {
                    padding-left: 0;
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
#content {
    width: auto !important;
    min-width: 0 !important;
    margin: $content-margin-top 3% 0 !important;
    padding-top: 0 !important;
    &.colMS {
        margin-right: 35% !important;
    }
    .module {
        padding: 0;
    }
    .submit-row {
        padding: 20px 25px !important;
    }
}
#sitemap {
    clear: both;
}


#applications-group {
    h2 {
        margin-bottom: 30px;
    }
    .module {
        overflow: visible;
    }
}

// module
.module {
    @include box();
    margin-bottom: 45px;
    background: none !important;
    &.collapse {
        display: block;
        margin-bottom: 0;
    }
    h2 {
        color: $gray-darkest;
        font-size: 100%;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 30px;
        padding: 10px 10px 0;
        border-bottom: 1px solid $gray-lighter;
        background: none;
    }
    caption {
        color: $gray;
        font-size: 14px !important;
        font-weight: normal;
        line-height: 1.75em;
        text-transform: uppercase;
        margin: 0 0 10px 10px;
        padding: 0;
        background: none;
        a.section,
        a.section:link,
        a.section:visited {
            color: $gray;
        }
    }
    table {
        margin: 0;
        padding: 0;
        thead th {
            padding: 20px 10px;
        }
        th {
            line-height: 13px;
            padding: 16px 10px;
        }
        td {
            line-height: 13px;
            padding: 8px 0 8px 40px;
        }
    }
}

// inlines
.module h2,
.module caption,
.inline-group h2 {
    color: $gray-darkest;
    font-size: 18px;
    font-weight: normal;
    padding-left: 0;
    background: none;
}
.inline-group {
    @include box();
    padding: 0;
    border: 0;
    .module {
        padding: 0;
        border: none !important;
        border-radius: 0;
        background: none !important;
        box-shadow: none;
        h2 {
            margin-bottom: 10px;
            padding-top: 0;
            padding-bottom: 0;
        }
        .add-row a {
            color: $gray-light;
            border-bottom: none;
            &:before {
                color: $color-primary;
            }
        }
        .add-row td {
            border-bottom: none;
            background: none;
        }
        tr.add-row:hover {
            background: none;
        }
        .form-row {
            border-bottom: none !important;
        }
    }
    .module {
        overflow: auto;
        width: 100%;
    }
    .add-row {
        border-bottom: 0 !important;
        &,
        td {
            border-bottom: none;
            background: none !important;
        }
        a {
            font-size: 16px !important;
            color: $gray-light;
            padding-left: 0 !important;
            background: none !important;
            &:before {
                color: $color-primary;
            }
        }
    }
}
.inline-related {
    margin-bottom: 5px;
    h3 {
        color: $gray;
        font-weight: normal;
        padding: 0;
        margin-bottom: 0;
        border-bottom: none;
        background: none;
        b, span {
            font-size: 16px;
            font-weight: normal;
        }
    }
    table {
        width: calc(100% - 4px) !important;
        margin: 0 2px !important;
    }
}
.submit-row {
    margin: 0 -25px;
    padding: 20px 25px;
    border: 0;
    border-top: 1px solid $gray-lighter;
    border-radius: $border-radius-base;
    background: none !important;
    box-shadow: none !important;
    .deletelink-box {
        line-height: 24px;
        margin: 0.9em 0;
    }
    .deletelink {
        @include button-variant($btn-action-color, $btn-action-bgcolor, $btn-action-border, true);
    }
    input[type="submit"] {
        padding: 10px 20px !important;
        &.default {
            margin-left: 20px;
            padding: 10px 20px !important;
        }
    }
    input {
        width: auto !important;
        margin-left: 15px;
    }
}

// filter horizontal m2m
.sortedm2m-container {
    width: 80% !important;
    .sortedm2m {
        min-height: inherit !important;
    }
    .selector-filter {
        position: relative;
        width: 100% !important;
        input {
            width: calc(100% - 65px) !important;
            margin: 5px 65px 5px 0 !important;
        }
        img {
            position: absolute;
            right: 0;
            order: 2;
            margin: 5px 0;
        }
    }
    + .add-another {
        margin: 20px 0;
    }
}
.selector {
    .selector-available,
    .selector-chosen {
        width: 380px;
        padding: 10px;
        background-color: $white;
        border: 1px solid $gray-lighter;
        border-radius: $border-radius-base;
        h2 {
            color: $gray !important;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            margin-bottom: 5px;
            border: none;
            background: none !important;
        }
        input {
            width: 252px;
            margin: -5px 0 2px;
        }
    }
    .selector-filter {
        padding-left: 0;
        border: none;
        label {
            display: none;
        }
        input {
            width: 100% !important;
            margin-bottom: 5px;
        }
    }
    select[multiple] {
        overflow-y: auto;
        width: 100% !important;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid $gray-lighter !important;
    }
    a {
        font-size: 14px;
        &:hover {
            color: $color-primary-dark !important;
        }
    }
    ul.selector-chooser {
        background-color: transparent;
    }
}

// login
body.login {
    background: none !important;
    #container {
        @include box();
        overflow: hidden;
        width: 340px !important;
        min-width: auto !important;
        border: none;
        box-shadow: $base-box-shadow;
        background-color: $gray-lightest !important;
        #content-main {
            float: none;
        }
        #header {
            position: static;
            background: none !important;
            box-shadow: none;
            #branding h1 {
                display: block;
                float: none;
                color: $gray-darkest;
                font-size: 18px;
                margin: 20px 40px 30px !important;
            }
        }
        #header-btn,
        #header-logo,
        #site-name {
            display: none;
        }
        #content {
            margin: 0 !important;
            padding: 25px 40px !important;
            .errornote {
                width: 240px !important;
            }
            #content-main {
                form {
                    margin-top: 0 !important;
                    padding: 0;
                    box-shadow: none;
                }
                .form-row {
                    padding-bottom: 30px;
                    label {
                        float: left !important;
                        color: $gray !important;
                        font-size: 14px;
                        line-height: 18px;
                    }
                    input {
                        color: $gray-darkest !important;
                        font-size: 18px;
                        width: 100% !important;
                        padding: 10px;
                    }
                }
                .submit-row {
                    float: right;
                    width: 100%;
                    padding: 20px 0 0 !important;
                    margin-top: 20px;
                    margin-right: 0;
                    background: none;
                    input,
                    input[type="submit"] {
                        @include button-variant($btn-action-color, $btn-action-bgcolor, $btn-action-border, true);
                        float: right;
                        width: auto !important;
                        background-image: none;
                    }
                    label {
                        display: none;
                    }
                }
            }
        }
        #footer {
            display: none;
        }
    }
}

// dashboard
.dashboard #container {
    #content-main {
        min-width: 400px;
        max-width: 900px;
        padding-bottom: 20px;
        table {
            box-shadow: none;
        }
        table th,
        table td {
            width: auto;
            padding: 15px 10px !important;
            border-color: $gray-lighter;
            a {
                font-size: 18px;
                color: $gray-darkest;
                font-weight: normal;
                line-height: 21px;
                padding: 0 10px 0 0;
                &.addlink {
                    color: $color-success;
                    font-size: 16px;
                }
                &.changelink {
                    color: $color-primary;
                    font-size: 16px;
                }
            }
        }
        table th {
            width: 100%;
        }
        .module tr:first-child {
            th,
            td {
                border-top: 1px solid $gray-lighter;
            }
        }
    }
    #content-related {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 25%;
        padding-top: 157px;
        margin: 0;
        border-left: 1px solid $gray-lighter;
        background-color: $gray-lightest;
        z-index: -1;
        .module {
            margin-left: 0;
            padding: 0 30px 10px !important;
            background-color: transparent;
            ul.actionlist {
                padding: 0;
                li {
                    position: relative;
                    font-size: 14px;
                    line-height: 14px;
                    padding: 10px 15px 10px 45px;
                    border-bottom: solid 1px $gray-lighter;
                    a {
                        padding-right: 10px;
                    }
                    &:before {
                        position: absolute;
                        left: 15px;
                        top: 50%;
                        font-size: 15px;
                        margin-top: -9px;
                    }
                    .mini {
                        line-height: 11px;
                    }
                }
                .changelink a {
                    line-height: 16px;
                }
                .mini {
                    color: $gray !important;
                }
            }
            h2 {
                color: $gray-darkest;
                font-weight: bold;
                padding: 0 0 40px;
                margin-bottom: 0;
                background: none;
                border-bottom: 0;
            }
            h3 {
                font-size: 14px;
                font-weight: normal;
                line-height: 20px;
                text-transform: uppercase;
                margin: 0;
                padding: 0 0 13px;
                border-bottom: 1px solid $gray-lighter;
            }
            p {
                color: $gray;
                font-size: 14px;
                padding: 0;
                margin-top: 10px;
            }
        }
    }
    table tbody tr:hover {
        background: none;
    }
}

a.addlink {
    &,
    &:link,
    &:visited {
        color: $color-success;
    }
    &:hover,
    &:focus,
    &:active {
        color: $color-success;
    }
}

#content-main .object-tools {
    .addlink {
        @include button-variant($btn-action-color, $btn-action-bgcolor, $btn-action-border, true);
    }
    .recoverlink {
        color: $color-primary !important;
        padding: 12px 0 2px 0 !important;
        margin-bottom: 8px;
        margin-right: 10px;
        background-color: transparent !important;
        border-radius: 0 !important;
        border: 0 !important;
        border-bottom: solid 1px $color-primary !important;
        &:hover,
        &:active,
        &:focus {
            background-color: transparent !important;
        }
    }
}

// object tools
.object-tools {
    float: right;
    text-align: right;
    max-width: 70%;
    margin-top: -78px;
    margin-left: 0;
    li {
        float: none;
        display: inline-block;
        height: 43px;
        margin-left: 20px;
        margin-bottom: 5px;
        list-style: none;
        background: none;
        &:hover {
            background: none;
        }
        > a {
            @include button-variant($btn-default-color, $btn-default-bgcolor, $btn-default-border, true);
            margin-right: 0 !important;
        }
    }
    .addlink {
        @include button-variant($btn-action-color, $btn-action-bgcolor, $btn-action-border, true);
        color: $white !important;
        padding: 10px 30px !important;
    }
    .publishlink {
        @include button-variant($btn-default-color, $btn-default-bgcolor, $btn-default-border, true);
    }
    .previewdraftlink {
        @include button-variant($btn-default-color, $btn-default-bgcolor, $btn-default-border, true);
    }
    .revertlink {
        @include button-variant($btn-default-color, $btn-default-bgcolor, $btn-default-border, true);;
    }
    .historylink {
        @include button-variant($btn-default-color, $btn-default-bgcolor, $btn-default-border, true);
    }
    .viewsitelink {
        @include button-variant($btn-action-color, $btn-action-bgcolor, $btn-action-border, true);
    }
}


// changeform


// delete page
.delete-confirmation .colM {
    @include box();
    margin: 15px !important;
    padding: 0;
    h1 {
        margin: 0 0 10px;
    }
    ul {
        margin-top: 20px;
        margin-left: 0;
        border-bottom: solid 1px $gray-lighter;
    }
    li {
        font-size: 16px;
        list-style-type: none;
        padding: 10px 0;
        border-top: solid 1px $gray-lighter;
    }
    input[type="submit"] {
        @include button-variant($btn-default-color, $btn-default-bgcolor, $btn-default-border, true);
        float: right;
    }
    form {
        background: none;
        box-shadow: none;
    }
}

// cms pagelist
#sitemap li a.addlink,
#sitemap li a.deletelink {
    width: 11px;
    height: 11px;
}
.tree {
    .col1 .changelink {
        float: left;
        line-height: 16px !important;
        margin: 6px 0 0 15px !important;
    }
}

// cms language buttons
#page_form_lang_tabs {
    margin-bottom: 30px;
    border-bottom: solid 1px $gray-lighter;
}
#page_form_lang_tabs input {
    color: $gray-darkest !important;
    font-weight: normal !important;
    text-transform: uppercase;
    font-size: 14px !important;
    margin: 0;
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    &:hover,
    &:focus {
        color: black !important;
        background-color: $white !important;
        border-bottom: solid 3px $white !important;
    }
    &.selected {
        color: $color-primary !important;
        background: transparent !important;
        border-bottom: solid 3px $color-primary !important;
    }
    &.notfilled {
        color: $gray !important;
        background: transparent !important;
        &:hover,
        &:focus {
            color: black !important;
            background-color: $white !important;
            border-bottom: solid 3px $white !important;
        }
    }
}
#lang_tab_content h2.header {
    position: relative;
    margin-bottom: -3px !important;
    border-top-right-radius: $border-radius-base;
    background: $color-primary !important;
}


// nani/hvad language buttons
.nani-language-tabs {
    position: relative;
    margin-bottom: -3px;
    border-bottom: 5px solid $color-primary;
    > span {
        display: inline-block;
        top: 0 !important;
        color: $gray-darkest !important;
        font-weight: normal !important;
        vertical-align: top;
        margin: 0 !important;
        padding: 8px 10px !important;
        border: none !important;
        background: white;

        border-top-radius: $border-radius-base;
        a {
            color: $gray-darkest !important;
            padding: 5px 10px;
            &:hover,
            &:focus {
                color: black !important;
                text-decoration: none;
            }
        }
        .deletelink {
            display: inline;
            right: -3px !important;
            bottom: 0 !important;
            margin: 0;
            padding: 0 0 0 12px !important;
            border-top-radius: 0;
        }
    }
    > .empty {
        color: $gray;
        opacity: 1 !important;
        background: $gray-lighter;
    }
    > .current {
        color: white !important;
        text-shadow: 0 1px 1px rgba($black, 0.2);
        padding-right: 20px !important;
        padding-left: 20px !important;
        background: $color-primary;
    }
    > .current .deletelink {
        right: -12px !important;
    }
}
.inline-group .nani-language-tabs {
    margin-bottom: 0;
    > span {
        padding: 4px 10px !important;
    }
    > .current {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    > .available {
        background: $gray-lighter;
    }
}
