// filer
.filebrowser {
    #content {
        margin-top: 20px;
    }
    h1.folder_header {
        margin: 0;
        background: none;
        background-image: none !important;
        .changelink {
            font-size: 16px;
            line-height: 30px;
        }
    }
    .module table td {
        line-height: 16px;
    }
}
