// filer
.filebrowser {
    #content {
        margin-top: 20px;
    }
    h1.folder_header {
        margin: 0;
        background: none;
        .changelink {
            font-size: 16px;
            line-height: 30px;
        }
    }
    .module table td {
        line-height: 16px;
    }
    .change-list #changelist .paginator
    #toolbartable table {
        tbody {
            th,
            td {
                div,
                .tiny {
                    font-size: 12px !important;
                    color: $gray-light !important;
                }
                a {
                    font-size: 16px !important;
                    &.changelink,
                    &.deletelink {
                        position: relative;
                        display: block;
                        text-indent: -9999px;
                        padding: 0 15px;
                        &:before {
                            position: absolute;
                            top: 0;
                            left: 9999px;
                        }
                    }
                    &.deletelink {
                        @include icon(trash);
                    }
                }
            }
        }
        img {
            width: 48px;
            height: 48px;
        }
    }
}

.field-image {
  width: 80%;
}
#id_image_thumbnail_img {
    margin-right: 10px;
    &[src*="nofile"] {
        margin-right: 0;
        border: solid 1px $gray-lighter;
        border-radius: $border-radius-base;
    }
}

#id_image_thumbnail_img,
.related-lookup {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 43px;
    height: 43px;
}

.related-lookup {
    border: solid 1px $gray-lighter;
    border-radius: $border-radius-base;
}

.filerClearer {
    width: 13px;
    height: 13px;
    padding: 15px;
    border: solid 1px $gray-lighter;
    border-radius: $border-radius-base;
    cursor: pointer;
}

.related-lookup,
.filerClearer {
    float: right;
    color: $gray-light !important;
    margin: 0 0 0 5px !important;
    &:before {
        line-height: 43px!important;
        margin-right: 0 !important;
    }
    img {
        display: none;
    }
}
#id_image_description_txt {
    display: inline-block;
    color: $gray;
    font-weight: normal;
    margin-top: 12px;
    margin-bottom: 12px;
    &:empty + .related-lookup {
        float: none;
        margin-left: 0 !important;
    }
}
