.addlink,
.changelink,
.deletelink,
.pastelink,
.icon-arrow-right,
.icon-logo,
.add-row a,
.related-lookup,
.backtoroot,
.movetolink span,
.file-upload a,
a.insertlinkButton {
    background-image: none;
    &:hover {
      background-image: none;
    }
    &:before {
        @extend %icon;
        font-size: $font-size-large;
        vertical-align: middle;
        margin-right: 5px;
    }
}

.file-upload a {
  @include icon(picture);
}

.addlink,
.add-row a {
    @include icon(plus);
}
.changelink {
    @include icon(pencil);
}
.deletelink {
    @include icon(remove);
}
.icon-arrow-right {
    @include icon(arrow-right);
}
.icon-search,
.related-lookup {
    @include icon(search);
}
.icon-logo {
    @include icon(logo);
}
#id_upload_button {
   @include icon(upload);
}
#id_new_folder {
    @include icon(folder);
}
.backtoroot  {
   @include icon(chevron-left);
}
.movetolink span {
   @include icon(scissors);
}
.pastelink {
    @include icon(clipboard);
}
.insertlinkButton {
    @include icon(arrow-left);
    padding: 0 !important;
}

.related-lookup {
    @include button-variant($btn-action-color, $btn-action-bgcolor, $btn-action-border, true);
    padding: 0 !important;
    &:before {
        color: $white;
    }
}

.addlink,
.addlink a {
 color: $color-success;
}
.changelink,
.changelink a {
 color: $color-primary;
}
.deletelink,
.deletelink a {
 color: $color-danger;
}

.addlink,
.changelink,
.deletelink {
    padding-left: 15px;
}

.related-lookup,
.add-another {
    margin: 0 5px;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none !important;
    }
}
.add-another {
    @include hide-text();
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../img/icon_addlink_large.gif") 0 0 no-repeat;
}

.tree {
    .col-navigation img {
        vertical-align: middle;
    }
    .col-language a {
        vertical-align: top !important;
    }
    .changelink {
        background-image: url("../img/icon_changelink_white.png");
    }
    .addlink,
    .deletelink {
        display: inline !important;
        &:before {
            font-size: $font-size-normal;
            margin: 0;
        }
    }
}

#sitemap li .col-softroot span.icon {
    width: 15px;
    height: 15px;
    margin: 7px 5px 0 0;
    background: url("../img/icon_softroot.png") 0 0 no-repeat;
}

// retina
@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
    .tree .changelink {
        background-image: url("../img/icon_changelink_white@2x.png");
        background-size: 11px;
    }
    #sitemap li .col-softroot span.icon {
        background-image: url("../img/icon_softroot@2x.png");
        background-size: 15px;
    }
    .add-another {
        @include hide-text();
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url("../img/icon_addlink_large@2x.gif") 0 0 no-repeat;
        background-size: 14px;
    }
}
