// base
html,
body {
    height: auto;
    #container {
        min-width: 240px !important;
        margin: 0;
    }
}
#content {
    margin: 160px 10px 0;
    h1 {
        margin-left: 0;
    }
}
#branding {
    #site-name {
        display: none;
    }
}
.login #branding {
    display: block;
}
#user-tools {
    position: relative;
    text-align: center;
}

// general
.module {
    padding: 5px 0 5px 0 !important;
    border: none;
    box-shadow: none !important;
    caption {
        margin-bottom: 5px;
        margin-left: 5px;
    }
}
div.breadcrumbs {
    padding-left: 5px;
}
.plugin-holder {
    display: none !important;
}

// login
body.login {
    #container {
        width: auto !important;
        max-width: 320px;
        #content #content-main {
            .form-row,
            .submit-row {
                text-align: center;
            }
            .form-row input {
                width: 100% !important;
                min-width: 40px;
                max-width: none;
            }
        }
    }
}

// dashboard
#content.colMS {
    margin-right: 10px !important;
}
.dashboard {
    #container {
        #content-main {
            float: none;
            min-width: 0;
            max-width: none;
            .module {
                table td {
                    padding-left: 0;
                }
            }
        }
        #content-related {
            position: static;
            float: none;
            width: auto;
            margin: 0 -10px;
            padding-top: 10px;
            padding-bottom: 20px;
            border-left: 0;
        }
        #content-related .module {
            margin: 10px 0;
            padding: 10px !important;
            .actionlist {
                margin-left: 10px;
            }
            h2 {
                padding-bottom: 10px;
            }
        }
    }
    .module {
        background: none !important;
    }
}

.object-tools {
    float: left;
    max-width: 100% !important;
    li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
// changelist

.change-list {
    #content {
        .object-tools {
            overflow: hidden;
            float: none;
            margin: 0;
            li {
                padding-left: 0;
                margin-left: 0;
            }
        }
    }
    #changelist {
        position: static;
        .actions select {
            width: 285px !important;
        }
        #toolbar {
            float: none !important;
            padding-left: 0 !important;
            label {
                display: inline-block;
            }
            form #searchbar {
                max-width: 285px !important;
            }
            .small {
                display: block;
            }
        }
    }
    .filtered .results,
    #changelist.filtered .paginator,
    .filtered #toolbar,
    #changelist.filtered .results,
    #changelist.filtered div.xfull,
    #changelist.filtered .actions {
        margin-right: 0 !important;
    }
    .module #changelist-form .results {
        overflow: auto;
        width: 100%;
    }
    #changelist-search {
        max-width: none;
    }
    .filtered {
        .actions,
        .paginator {
            margin-right: 0 !important;
        }
        .actions {
            padding-left: 0 !important;
        }
        .action-counter {
            margin-left: 0 !important;
        }
    }
    #changelist {
        .actions,
        .paginator {
            margin-right: 0 !important;
        }
    }
}
#changelist-filter-button,
#changelist-filter {
    display: none !important;
}
.tree {
    background: white;
}

// chageform
.change-form {
    h1 {
        margin-left: 0;
    }
}

// cms language buttons
#page_form_lang_tabs input {
    font-size: 11px !important;
    font-weight: normal !important;
    padding: 2px 4px !important;
}
// nani/hvad language buttons
.nani-language-tabs {
    > span {
        font-size: 11px !important;
        padding: 4px 1px !important;
        a {
            padding: 3px 5px !important;
        }
        .deletelink {
            right: 0 !important;
        }
    }
    > .current {
        padding: 4px 10px 4px 5px !important;
        .deletelink {
            right: -8px !important;
        }
    }
}

// forms
form label,
.aligned label {
    display: block;
    float: none !important;
    line-height: 14px;
    width: auto;
    margin-top: 5px;
    padding: 0 !important;
}
form {
    input,
    input[type="file"],
    textarea,
    select {
        width: auto; /*max-width: 200px;*/
    }
    .vTextField {
        width: auto;
    }
    .aligned p,
    .aligned ul {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .submit-row {
        text-align: right;
        input {
            float: right;
            margin-bottom: 10px !important;
        }
    }
}

// inlines
.inline-group {
    margin-bottom: 10px;
    padding: 5px;
    .module {
        h2 {
            padding-left: 5px;
        }
    }
}

// filter horizontal m2m
.selector {
    float: none;
    width: auto;
    .selector-available,
    .selector-chosen {
        float: none;
        width: auto;
        p {
            text-align: center;
        }
    }
    .selector-chosen {
        margin-top: 60px;
    }
    ul.selector-chooser {
        display: block;
        margin-top: 0;
    }
    select[multiple],
    select {
        width: 100%;
        max-width: none;
    }
    label {
        display: inline-block;
    }
    .selector-available input,
    .selector-chosen input {
        width: auto;
    }
}

// shortcuts
.admin_shortcuts .shortcuts li a {
    padding: 10px 10px 10px 40px;
    background-size: 20px 20px;
}
.admin_shortcuts .shortcuts li a span {
    padding: 0 !important;
}
.admin_shortcuts .shortcuts li:first-child a {
    padding: 10px 20px;
}
