.cms-admin-modal {
    .module {
        h2 {
            font-size: $font-size-large !important;
        }
        table td {
            padding: 1px 10px !important;
        }
    }
    &.dashboard {
        #content-related {
            padding-top: 30px !important;
        }
        #content {
            margin-top: 74px !important;
        }
    }
}
.popup,
.cms-admin-modal {
    &.app-aldryn_bootstrap3 {
        .filerFile .filerClearer {
            width: 36px !important;
            height: 36px !important;
        }
    }
    background-color: $white;
    form {
        padding: 0;
        margin-bottom: 0;
        background-color: transparent;
        box-shadow: none;
        fieldset {
            width: 100%;
        }
    }
    .calendarbox table {
        td {
            padding: 0 !important;
        }
    }
    &.change-list {
        #changelist {
            #changelist-filter {
                background: none !important;
            }
            #changelist-form > input + .results {
                clear: both ;
            }
        }
        #result_list {
            tbody td,
            tbody th {
                height: 41px;
            }
        }
    }
    table td > select {
       width: auto !important;
    }
    input[type=text],
    input[type=password],
    .vURLField,
    .vTextField,
    textarea,
    select,
    .select2-container,
    .sortedm2m-container,
    form .cke,
    .field-image {
        max-width: inherit !important;
        box-sizing: border-box;
        & + .add-another {
            margin-top: 10px;
        }
    }
    #container {
        min-width: inherit !important;
    }
    #content,
    &.filebrowser #content {
        margin: 20px 2% 0 !important;
    }
    #content .submit-row {
        margin: 20px -2% 0 !important;
        padding: 20px 2% !important;
    }
    .form-row {
        &.field-enable_registration,
        &.field-registration_deadline_at,
        &.field-is_published,
        &.field-publish_at {
             .field-box {
                float: none;
                margin-left: 0 !important;
                margin-top: 20px;
            }
        }
        .field-box {
            float: left;
            margin-right: 20px !important;
            margin-top: 0;
            &.field-registration_deadline_at {
                margin-right: 0 !important;
            }
        }
    }
    .bootstrap3-column {
        .form-row {
            overflow: hidden;
            padding-bottom: 10px;
            border-bottom: solid 1px $gray-lighter;
            &.field-create {
                input {
                    width: 70px !important;
                }
                label {
                    display: inline-block;
                    float: left;
                    width: 160px !important;
                }
            }
            .field-box {
                label {
                    display: inline-block;
                    float: left;
                    width: 70px !important;
                }
                input {
                    width: auto !important;
                }
                input[type="number"] {
                    width: 60px !important;
                }
            }
        }
        .module {
            margin-bottom: 20px;
        }
    }
    .inline-group {
        overflow: auto;
        .module {
            overflow: visible;
            width: 100%;
        }
        .field-user,
        .field-group {
            min-width: 215px;
        }
    }
    &.delete-confirmation .colM {
        ul {
            margin: 20px -2% 0;
            li {
                padding: 10px 2%;
            }
            ul {
                margin: 10px -2% -10px;
                ul {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}
.cms-admin-sideframe {
    #content {
        margin-top: $toolbar-height + $content-margin !important;
    }
}
