// django-admin-shortcuts
.admin_shortcuts .shortcuts {
    color: $gray-light;
    border-top: 1px solid $gray-darker;
    background: $gray;
    box-shadow: none;
    h2 {
        font-weight: normal;
        border: none;
    }
    li {
        a,
        a:link,
        a:visited {
            text-decoration: none;
            border: 1px solid $gray-darker;
            background-color: $gray-darker;
            .count {
                color: $gray;
            }
            .count_new {
                border-color: $button-blue-light-color;
                background: $button-blue-medium-color;
            }
        }
        a:hover,
        a:focus {
            background-color: #4e5359;
        }
        a:active {
            background-color: $gray-darker;
        }
    }
}
