//##############################################################################
// SIDEFRAME

.cms-admin-sideframe {
    #header {
        /* because there is already toolbar visible and header in sideframe has to be hidden to not see when scrolling on tablet */
        display: none;
    }
    #container .breadcrumbs + .messagelist + #content,
    #container .breadcrumbs + #content {
       margin-left: 3% !important;
    }
    .breadcrumbs {
        padding-left: 0 !important;
    }
    #content {
        margin-top: 117px !important; /* updates content margin top because of breadcrumbs */
    }
    ul.messagelist {
        margin-top: 46px !important;
    }
}
