//##############################################################################
// SIDEFRAME

.cms-admin-sideframe {
    #header {
        // because there is already toolbar visible, header in side frame has to be hidden to not be visible when scrolling on tablet #245
        display: none;
    }
    #container .breadcrumbs + .messagelist + #content,
    #container .breadcrumbs + #content {
       margin-left: 3% !important;
    }
    .breadcrumbs {
        padding-left: 0 !important; // removes padding left to align breadcrumbs #242
    }
    #content {
        margin-top: 117px !important; // updates content margin top because of breadcrumbs #242
    }
    ul.messagelist {
        margin-top: 46px !important;
    }
}
