.change-list {
    .filtered {
        min-height: auto;
        background: none !important;
        table {
            border: none;
        }
        .results {
            margin-right: 220px !important;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
        }
        .paginator {
            font-size: 14px;
            color: $font-color-light;
            background-color: #fff !important;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
        }
    }
    #changelist {
        width: auto !important;
        table {
            tbody {
                th,
                td {
                    padding-left: 0;
                    border-color: $background-color-light;
                    a,
                    a:link,
                    a:visited,
                    a:link:visited {
                        color: $link-color;
                    }
                }
                tr.selected {
                    background: $background-color-highlight !important;
                    a {
                        color: $background-color-highlighter;
                    }
                }
            }
        }
        #toolbar {
            overflow: hidden;
            float: left;
            height: auto;
            min-height: 30px;
            margin: 0 10px 5px 0 !important;
            border: 0 !important;
            background: none !important;
            form label {
                display: inline-block;
                font-size: 100%;
                min-width: auto;
                padding: 0;
            }
            form #searchbar {
                max-width: 200px;
                font-size: 18px;
                padding: 10px 5px !important;
                vertical-align: top;
            }
        }
        #changelist-filter {
            width: 200px !important;
            min-height: 100%;
            padding-left: 18px;
            border-left: 0;
            border-top-right-radius: $default-border-radius;
            border-bottom-right-radius: $default-border-radius;
            background-color: #f7f7f7 !important;
            h2,
            h3 {
                font-size: 16px;
                margin-bottom: 15px !important;
                padding-left: 0 !important;
                padding-bottom: 10px;
                border-bottom: solid 1px $line-color-ultralight;
            }
            h2 {
                color: $font-color-light;
                font-weight: normal;
                text-transform: uppercase;
                padding: 2px 9px;
                background: none;
            }
            h3 {
                margin: 30px 0 10px !important;
            }
            ul {
                font-size: 12px;
                margin-left: 0 !important;
                margin-bottom: 10px;
            }
            li {
                font-size: 16px;
                margin-bottom: 20px;
                &.selected {
                    font-weight: bold;
                    border-left: 0 !important;
                    padding-left: 0 !important;
                    margin-left: 0 !important;
                    a {
                        color: $link-color !important;
                    }
                }
            }
        }
        .actions {
            padding: 0 3px 10px;
            margin-right: 220px !important;
            border: none;
            background: none;
            select {
                padding: 10px 40px 10px 20px;
                margin-top: 5px;
                margin-right: 10px;
                border: 1px solid $button-silver-dark-color;
                border-radius: $default-border-radius;
            }
            label {
                display: inline-block;
                font-size: 14px;
                margin-left: 0;
            }
            button {
                padding: 10px 15px !important
            }
            .action-counter {
                display: block !important;
            }
        }
        .toplinks {
            margin-bottom: 5px !important;
            border-bottom: none !important;
            background: none;
        }
        .paginator {
            margin-right: 220px !important;
            border: none;
            background: none;
        }
    }
}

#result_list {
    th,
    td {
        font-size: 16px;
        font-weight: normal;
        border-left: 0 !important;
        &:first-child {
            border-right: 0 !important;
        }
    }
    thead {
        th {
            text-transform: uppercase;
            padding: 10px 0 5px !important;
            border-color: $line-color-ultralight;
            background-color: #fff;
            &.sorted {
                background-color: #fff;
            }
            &.action-checkbox-column {
                padding: 0 15px !important;
            }
            .text {
                float: left;
                padding-right: 0;
            }
            .sortoptions {
                float: none;
                display: inline-block;
                padding-top: 0;
            }
        }
        a {
            font-size: 14px;
            color: $font-color-light;
            font-weight: normal;
            padding-left: 0;
        }
    }
    .action-checkbox {
        padding: 10px !important;
    }
}

#changelist-search {
    input[type="submit"] {
        @include button-blue;
        text-indent: -9999px;
        padding: 10px 20px !important;
        margin-left: 10px;
        background-image: url('../img/icon_search_white@2x.png') !important;
        background-repeat: no-repeat !important;
        background-position: 8px center !important;
        background-size: 25px !important;
    }
    label {
        display: block !important;
        margin-bottom: 0;
        img {
            visibility: hidden;
        }
    }
}