
// containers
#container {
    width: auto !important;
    min-width: 0 !important;
}
#content {
    width: auto !important;
    min-width: 0 !important;
}
#changelist {
    width: auto !important;
}

// module
.module {
    @include box();
    margin-bottom: 10px;
    padding: 10px 15px 15px;
    h2 {
        color: $font-color;
        font-size: 100%;
        margin-top: 0;
        margin-bottom: 2px;
        padding: 10px; 
        border-bottom: 1px solid $line-color-light;
        background: none;
    }
    caption {
        color: $font-color-light;
        font-size: 130%;
        font-weight: bold;
        line-height: 1.75em;
        margin: 0 0 5px 5px;
        padding: 0;
        background: none;
        a.section,
        a.section:link,
        a.section:visited {
            color: $font-color-light;
        }
    }
    table {
        margin: 0;
        thead th {
            padding: 2px 5px !important;
        }
        th {
            line-height: 13px; 
            padding: 2px 5px;
        }
        td {
            line-height: 13px; 
            padding: 8px 5px;
        }
    }
}

// inlines
.module h2,
.module caption,
.inline-group h2 {
    color: $font-color-dark;
    font-size: 16px; 
    background: none;
}
.inline-group {
    @include box();
    padding: 10px 15px 15px;
    border: 0; 
    .module {
        padding: 0;
        border: none !important;
        border-radius: 0;
        background: none !important;
        box-shadow: none;
        h2 {
            margin-bottom: 10px;
            padding-top: 0;
            padding-bottom: 8px;
        }
        .add-row a {
            color: $button-green-dark-color; 
            border-bottom: none;
        }
        .add-row td {
            border-bottom: none; 
            background: none;
        }
        tr.add-row:hover {
            background: none;
        }
        .form-row {
            border-bottom: none !important;
        }
    }
    .module {
        overflow: auto; 
        width: 100%;
    }
    .add-row {
        &,
        td {
            border-bottom: none;
            background: none !important;
        }
        a {
            color: $button-green-dark-color;
        }
    }
}
.inline-related {
    margin-bottom: 5px;
    h3 {
        border-bottom: none; 
        background: none;
    }
}
.submit-row {
    padding: 10px;
    border: 1px solid $line-color-light;
    border-radius: $default-border-radius;
    background: $background-color-transparent !important;
    box-shadow: inset 0 0 $button-shadow-width $background-color-white !important;
    .deletelink-box {
        line-height: 24px;
    }
    .deletelink {
        @include button-common();
        @include button-red();
    }
    input[type="submit"].default {
        margin-left: 10px;
    }
}

// filter horizontal m2m
.selector {
    .selector-available,
    .selector-chosen {
        border: 1px solid $line-color-light;
        border-radius: $default-border-radius;
        h2 {
            color: $font-color !important;
            font-size: 13px;
            line-height: 16px; 
            margin-bottom: 0;
            border: none;
            background: none !important;
        }
        input {
            width: 252px;
            margin: -5px 0 2px;
        }
    }
    .selector-filter {
        border: none;
    }
    .selector-filter label {
        display: none;
    }
    select[multiple] {
        overflow-y: auto; 
        margin-bottom: 0;
        border: 1px solid $line-color-light;
        border-right: none;
        border-left: none;
    }
}

// login
body.login {
    background: $background-color-ultralight url("../img/bg-pattern.jpg") repeat !important;
    #container {
        @include box();
        width: 340px !important;
        border: none;
        box-shadow: inset rgba(0, 0, 0, 0.3) 0 1px 2px, #fff 0 1px 1px;
        #header {
            background: none !important;
            #branding h1 {
                color: $font-color;
                text-align: center; 
                margin: 20px 0 !important;
            }
        }
        #content {
            margin: 0 !important;
            padding: 25px 40px !important;
            #content-main {
                form {
                    margin-top: 0 !important;
                }
                .form-row {
                    label {
                        font-weight: normal;
                        text-align: center; 
                        width: 100%;
                    }
                    input {
                        font-size: 16px;
                        width: 240px !important; 
                        padding: 10px;
                    }
                }
                .submit-row {
                    padding: 20px 0 0;
                    border: none;
                    background: none;
                    input,
                    input[type="submit"] {
                        @include button-blue();
                        width: 262px !important; 
                        background-image: none;
                    }
                    label {
                        display: none;
                    }
                }
            }
        }
        #footer {
            display: none;
        }
    }
}

// header
#header {
    color: $font-color-white !important;
    height: 46px;
    background-color: $background-color-medium;
    background-image: linear-gradient($background-color-dark, $background-color-medium);
    #branding h1 {
        color: $font-color-white;
        padding: 3px 25px;
    }
    #user-tools {
        padding: 16px 25px 0;
    }
}
div.breadcrumbs {
    color: #ddd;
    padding-bottom: 4px;
    padding-left: 25px;
    border-top: 1px solid $line-color-dark;
    border-bottom: 0;
    background: $background-color-dark;
    a {
        color: #bbb;
        &:hover {
            color: $font-color-ultralight;
            text-decoration: none;
        }
    }
}

// dashboard
.dashboard #container {
    #content-main {
        min-width: 400px;
        max-width: 640px;
        table th,
        table td {
            width: auto;
            border-color: $line-color-ultralight;
            a {
                line-height: 16px;
            }
        }
        table th {
            width: 100%;
        }
        .module tr:first-child {
            th,
            td {
                border-top: 1px solid $line-color-ultralight;
            }
        }
    }
    #content-related {
        float: left;
        .module {
            margin-left: 10px;
            padding: 10px 20px !important;
            border: 1px solid $line-color-light;
            border-radius: $default-border-radius;
            background: $background-color-transparent !important;
            box-shadow: inset 0 0 $button-shadow-width $background-color-white !important;
            ul.actionlist {
                padding: 0;
                .changelink a {
                    line-height: 16px;
                }
            }
            h2 {
                color: $font-color-light;
                padding: 0 0 5px;
                background: none;
            }
            h3 {
                line-height: 20px;
                margin: 0 0 5px ;
                padding: 0; 
                border-bottom: 1px solid $line-color-light;
            }
            p {
                padding: 0;
            }
        }
    }
    table tbody tr:hover {
        background: none;
    }
}

a.addlink {
    &,
    &:link,
    &:visited {
        color: $button-green-medium-color;
    }
    &:hover,
    &:focus,
    &:active {
        color: $button-green-dark-color;
    }
}

// object tools
.object-tools {
    float: right;
    margin-top: -34px;
    li {
        height: 32px;
        padding-left: 5px;
        list-style: none;
        background: none;
        &:hover {
            background: none;
        }
        > a {
            @include button-common();
        }
    }
    .addlink {
        @include button-common();
        @include button-green();
        color: $button-green-font-color !important;
    }
    .recoverlink {
        @include button-common();
    }
    .publishlink {
        @include button-common();
    }
    .previewdraftlink {
        @include button-common();
    }
    .revertlink {
        @include button-common();
    }
    .historylink {
        @include button-common();
    }
    .viewsitelink {
        @include button-common();
        @include button-blue();
    }
}

// changelist
.change-list {
    .filtered {
        min-height: auto;
        background-image: none !important;
        table {
            border: none;
        }
    }
    #changelist {
        table {
            tbody {
                th,
                td {
                    border-color: $background-color-light;
                    a,
                    a:link,
                    a:visited,
                    a:link:visited {
                        color: $link-color;
                    }
                }
                tr.selected {
                    background: $background-color-highlight !important;
                }
            }
        }
        #toolbar {
            height: auto;
            min-height: 30px;
            margin: 0 0 5px;
            border: 0 !important;
            background: none !important;
            form label {
                font-size: 100%; 
                min-width: auto;
                padding: 0;
            }
            form #searchbar {
                font-size: 100%; 
                padding: 6px 5px 8px !important;
            }
        }
        #changelist-filter {
            min-height: 100%;
            border-top-right-radius: $default-border-radius;
            border-bottom-right-radius: $default-border-radius;
            background: #fafafa;
            h2 {
                color: $font-color-light;
                padding: 2px 9px; 
                background: none;
            }
            h3 {
                margin: 5px 0;
            }
            ul {
                font-size: 12px;
                margin-bottom: 10px;
                li {
                    margin-bottom: 2px;
                }
                li.selected a {
                    color: $link-color !important;
                }
            }
        }
        .actions {
            padding: 0 3px 10px;
            border: none;
            background: none;
            button {
                vertical-align: middle;
                height: 20px;
                padding-top: 2px !important;
            }
        }
        .toplinks {
            margin-bottom: 5px !important; 
            border-bottom: none !important;
            background: none;
        }
        .paginator {
            border: none;
            background: none;
        }
    }
}

// changeform


// delete page
.delete-confirmation .colM {
    @include box();
    margin: 15px !important;
    padding: 20px;
    h1 {
        margin: 0 0 10px;
    }
    li {
        line-height: 16px;
    }
    input[type="submit"] {
        @include button-red();
        float: right;
    }
}

// cms pagelist
#sitemap li a.addlink,
#sitemap li a.deletelink {
    width: 11px;
    height: 11px;
}
.tree {
    .col1 .changelink {
        float: left;
        line-height: 16px !important;
        margin: 6px 0 0 15px !important;
    }
}

// cms language buttons
#page_form_lang_tabs input {
    color: $font-color-medium !important;
    font-weight: normal !important;
    margin: 0;
    border: none !important;
    background: #ccc !important;
    box-shadow: none !important;

    border-bottom-radius: 0;
    &:hover,
    &:focus {
        color: black !important;
    }
    &.selected {
        color: black !important; 
        background: white !important;
    }
    &.notfilled {
        color: #bbb !important; 
        background: $background-color-light !important;
    }
}
#lang_tab_content h2.header {
    position: relative; 
    margin-bottom: -3px !important;
    border-top-right-radius: $default-border-radius;
    background: $button-blue-light-color !important;
}


// nani/hvad language buttons
.nani-language-tabs {
    position: relative;
    margin-bottom: -3px;
    border-bottom: 5px solid $button-blue-light-color;
    > span {
        display: inline-block;
        top: 0 !important;
        color: $font-color-medium !important;
        font-weight: normal !important;
        vertical-align: top;
        margin: 0 !important;
        padding: 8px 10px !important;
        border: none !important;
        background: white;

        border-top-radius: $default-border-radius;
        a {
            color: $font-color-medium !important;
            padding: 5px 10px;
            &:hover,
            &:focus {
                color: black !important;
                text-decoration: none;
            }
        }
        .deletelink {
            display: inline;
            right: -3px !important; 
            bottom: 0 !important;
            margin: 0;
            padding: 0 0 0 12px !important;
            background: url("../img/icon_deletelink.png") 0 0.25 no-repeat !important;

            border-top-radius: 0;
        }
    }
    > .empty {
        color: $font-color-light; 
        opacity: 1 !important;
        background: $background-color-light;
    }
    > .current {
        color: white !important;
        text-shadow: 0 1px 1px rgba(0,0,0,0.2); 
        padding-right: 20px !important;
        padding-left: 20px !important;
        background: $button-blue-light-color;
    }
    > .current .deletelink {
        right: -12px !important;
    }
}
.inline-group .nani-language-tabs {
    margin-bottom: 0;
    > span {
        padding: 4px 10px !important;
    }
    > .current {
        padding-right: 20px !important; 
        padding-left: 20px !important;
    }
    > .available {
        background: #eee;
    }
}
