.popup,
.cms-modal-window {
    background-color: #fff;
    .module h2 {
        padding-bottom: 10px;
    }
    input[type=text],
    textarea,
    select,
    .select2-container {
        width: 100% !important;
        max-width: inherit !important;
        box-sizing: border-box;
    }
    #content {
        margin-top: 20px !important;
    }
    .bootstrap3-column {
        .form-row {
            overflow: hidden;
            padding-bottom: 10px;
            border-bottom: solid 1px $line-color-ultralight;
             &.field-create {
                input {
                    width: 70px !important;
                }
                label {
                    display: inline-block;
                    float: left;
                    width: 160px !important;
                }
             }
        }
        .field-box {
            label {
                display: inline-block;
                float: left;
                width: 70px !important;
            }
            input {
                width: auto !important;
            }
        }
    }
}
form {
    .form-row {
        overflow: visible;
        border-bottom: 0;
        clear: both;
        .select2-container {
            width: 830px;
        }
    }
    button,
    input,
    select,
    textarea {
        font-size: 13px;
        width: 830px !important;
        margin: 2px 0;
    }
    button {
        width: auto !important;
    }
    .cke {
        width: 830px;
        box-sizing: border-box;
    }
    .aligned {
        .field-number_of_visits p {
            padding-left: 0;
            margin-left: 0;
        }
        p.help {
            font-size: 14px !important;
            color: $font-color-light;
            margin-top: 10px;
            padding-left: 0;
            margin-left: 0;
        }
        .vCheckboxLabel {
            vertical-align: middle;
        }
    }
    small {
        color: $font-color-light;
    }
    hr {
        margin: 5px 0;
    }
    fieldset {
        line-height: 2em; 
        vertical-align: middle;
    }
    fieldset.collapsed h2 {
        margin-bottom: 0;
        padding-bottom: 5px; 
        border-bottom: none;
        background-image: none;
    }
    label select {
        display: block;
        margin-left: 0 !important;
        margin-top: 5px;
    }
    label,
    label.aligned {
        display: block;
        float: none !important;
        color: $font-color-light !important;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: normal !important;
        word-wrap: break-word;
        width: auto !important;
        margin-bottom: 5px;
        &.required {
            color: $font-color-light !important;
            font-weight: normal !important;
        }
    }
    // input
    input,
    textarea {
        color: $font-color;
        font-size: 18px;
        padding: 10px;
        border: 1px solid $button-silver-dark-color;
        box-sizing: border-box;
        border-radius: $default-border-radius;
        outline: none;
    }
    input[type="checkbox"],
    input[type="radio"] {
        display: inline;
        width: auto !important;
        margin-top: 0;
        margin-right: 6px;
        border: 0;
    }
    input[type="file"] {
        color: $button-silver-font-color;
        padding: 6px 5px;
        border: 1px solid $button-silver-dark-color;
        border-radius: $default-border-radius;
        outline: none;
    }
    select {
        appearance: none;
        font-size: 18px;
        font-weight: normal;
        padding: 10px 40px 10px 20px;
        background: #fff url('../img/icon_arrow_down.png') no-repeat right center;
        background-size: 25px;
        border: 1px solid $button-silver-dark-color;
        border-radius: $default-border-radius;
    }
    small {
        margin-left: 15px;
    }
    .form-controls {
        text-align: right;
        margin: 15px 0 0 0;
        p {
            margin-top: 6px;
        }
    }
    .input-list {
        display: inline-block;
        line-height: 20px; 
        vertical-align: top;
    }
    .extra {
        .right {
            float: right;
            margin-right: 10px;
        }
    }
    .form-row {
        padding: 8px 0 30px;
        border-bottom-color: $line-color-ultralight;
    }
    .form-row:last-child {
        border-bottom-color: transparent;
    }
}

.form-row .select2-container {
    min-width: 250px + 12px;
} //standard input width + default input paddings
.inline-group .form-row input,
.inline-group .form-row textarea {
    width: auto;
}

// select2
form {
    .select2-container {
        &.select2-container-active {
            .select2-choice,
            .select2-choices {
                box-shadow: none;
            }
        }
        .select2-choice {
            line-height: inherit;
            height: auto;
            padding: 10px 40px 10px 20px;
            background: none;
            border: 1px solid $button-silver-dark-color;
            border-radius: $default-border-radius;
            & > .select2-chosen {
                font-size: 18px;
            }
            .select2-arrow {
                right: 9px;
                width: 17px;
                background: none;
                border: none;
                border-radius: 0;
                b {
                    background: url('../img/select2.png') no-repeat 0 12px;
                    background-size: 50px;
                }

            }
        }
    }
    .select2-dropdown-open {
        &.select2-drop-above {
            .select2-choice,
            .select2-choices {
                background-image: none !important;
                border-color: $button-silver-dark-color !important
            }
        }
        .select2-choice {
            background-color: #fff;
            background-image: none;
            .select2-arrow b {
                background-position: -16px 12px;
            }
        }
    }
}
.select2-drop-active {
    border: 1px solid $button-silver-dark-color !important;
}
.select2-results {
    margin: 0 10px 10px !important;
    padding: 0 !important;
    .select2-no-results,
    .select2-searching,
    .select2-ajax-error,
    .select2-selection-limit {
        color: $font-color-light;
        font-size: 14px;
        background-color: transparent !important;
    }
    .select2-highlighted {
        border-radius: $default-border-radius;
        background-color: $link-color !important;
    }
}
.select2-match {
    font-size: 14px !important;
}
.select2-search {
    padding: 10px !important;
    input {
        font-size: 18px !important;
        padding: 10px 40px 10px 20px !important;
        background: url('../img/select2.png') no-repeat right -24px !important;
        background-size: 50px !important;
        border: 1px solid $button-silver-dark-color !important;
        border-radius: $default-border-radius !important;
    }
}


input:invalid,
textarea:invalid {
    border-radius: $default-border-radius;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
    background-color: #f0dddd;
}

// buttons
button {
    @include button-common();
}
input[type="submit"],
input[type="button"] {
    @include button-common();
    width: auto !important;
    &.default {
        @include button-blue();
        padding: 10px 30px !important;
    }
}
a.button {
    @include button-common();
    text-decoration: none;
    cursor: pointer; 
    &.tab {
        border-radius: 0;
    }
}

// date time
.form-row {
    p.datetime {
        line-height: 36px;
    }
}

// calendar
div.calendar {
    table {
        caption {
            color: $font-color-white !important;
            margin: 0;
            background-color: $background-color-dark;
            background-image: linear-gradient($background-color-dark, $background-color-medium);

            border-top-radius: $default-border-radius;
        }
        td {
            padding: 0;
            background: #f3f3f3;
        }
        td a {
            padding: 6px 4px;
        }
    }
    .today a {
        background: $info-color-ultralight;
    }
}
div.calendarbox {
    width: 200px !important;
    table th,
    table td {
        line-height: 12px;
    }
    .calendarnav-previous,
    .calendarnav-next {
        color: white;
        text-decoration: none;
        padding: 4px 7px 6px;
        background: none;
        &:hover,
        &:focus {
            background: #666;
        }
    }
    .calendar-shortcuts {
        padding: 10px 0 6px 0;
        border-color: #ddd; 
        background: transparent;
    }
}
div.calendarbox,
div.clockbox {
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: $default-border-radius;
    background: #f3f3f3;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    caption,
    h2 {
        font-size: 14px;
    }
    .calendar-cancel {
        margin-top: 5px !important;
        padding: 5px 0 !important; 
        background: none;

        border-bottom-radius: $default-border-radius;
    }
}
// clock
div.clockbox {
    border-top-radius: $default-border-radius;
    h2 {
        color: $font-color-white !important;
        background-color: $background-color-dark;
        background-image: linear-gradient($background-color-dark, $background-color-medium);

        border-top-radius: $default-border-radius;
    }
    .timelist a {
        padding: 5px 2px;
    }
}
.timelist a {
    &,
    &:active,
    &:focus,
    &:hover {
        background: none !important;
    }
}

span.datetimeshortcuts a {
    color: $link-color;
}

// filter horizontal
.selector {
    .selector-chooseall,
    .selector-clearall {
        line-height: 14px;
    }
    select {
        overflow: hidden;
    }
}

form select[multiple] {
    overflow: auto;
    width: 100%;
    max-width: 240px;
    padding: 0;
    border: 0 !important;
    background: none;
}
