
.addlink, .changelink, .deletelink { padding-left: 15px; }

.tree .changelink { background-image: url('../images/icon_changelink_white.png'); }

#sitemap li .col-softroot span.icon { background: url('../images/icon_softroot.png') 0 0 no-repeat;
	width: 15px; height: 15px; margin: 7px 5px 0 0; }

// retina
@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
	.addlink { background-image: url('../images/icon_addlink@2x.gif'); background-size: 11px; }
	.changelink { background-image: url('../images/icon_changelink@2x.gif'); background-size: 11px; }
	.tree .changelink { background-image: url('../images/icon_changelink_white@2x.png'); background-size: 11px; }
	.deletelink { background-image: url('../images/icon_deletelink@2x.gif'); background-size: 11px; }
}
