@charset "UTF-8";

@font-face {
  font-family: "django-cms-admin";
  src:url("../fonts/fontastic/django-cms-admin.eot");
  src:url("../fonts/fontastic/djangocms_admin_style/static/djangocms_admin_style/fonts/fontastic/django-cms-admin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fontastic/django-cms-admin.woff") format("woff"),
    url("../fonts/fontastic/django-cms-admin.ttf") format("truetype"),
    url("../fonts/fontastic/django-cms-admin.svg#django-cms-admin") format("svg");
  font-weight: normal;
  font-style: normal;

}
table,
.actionlist,
.object-tools {
    .addlink,
    .changelink,
    .deletelink,
    .icon-arrow-right {
        background-image: none;
        &:before {
            font-family: "django-cms-admin" !important;
            font-size: 20px;
            content: attr(data-icon);
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            vertical-align: middle;
            margin-right: 10px;
            speak: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    .addlink:before {
      content: "\e000";
    }
    .changelink:before {
      content: "\e001";
    }
    .deletelink:before {
      content: "\e002";
    }
}

.icon-arrow-right:before {
  content: "\e003";
}

.addlink,
.addlink a {
 color: $success-color;
}
.changelink,
.changelink a {
 color: $info-color;
}
.deletelink,
.deletelink a {
 color: $error-color;
}

.addlink,
.changelink,
.deletelink {
    padding-left: 15px;
}

.related-lookup,
.add-another {
    margin: 0 5px;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none !important;
    }
}
.add-another {
    @include hide-text();
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../img/icon_addlink_large.gif") 0 0 no-repeat;
}

.tree .changelink {
    background-image: url("../img/icon_changelink_white.png");
}

#sitemap li .col-softroot span.icon {
    width: 15px;
    height: 15px;
    margin: 7px 5px 0 0; 
    background: url("../img/icon_softroot.png") 0 0 no-repeat;
}

// retina
@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
    .tree .changelink {
        background-image: url("../img/icon_changelink_white@2x.png");
        background-size: 11px;
    }
    #sitemap li .col-softroot span.icon {
        background-image: url("../img/icon_softroot@2x.png");
        background-size: 15px;
    }
    .related-lookup {
        @include hide-text();
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("../img/icon_searchbox@2x.png") 0 0 no-repeat;
        background-size: 16px;
    }
    .add-another {
        @include hide-text();
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url("../img/icon_addlink_large@2x.gif") 0 0 no-repeat;
        background-size: 14px;
    }
}
