/* Statuses Mixins */

@mixin message-info {
    background-image: linear-gradient( $info-color-light, $info-color 80%, $info-color-dark);
    .close {
        border: 1px solid $info-color;
        background: $info-color;
        box-shadow: inset 0 0 2px $info-color;
        &:hover {
            border: 1px solid $info-color;
            background-image: linear-gradient( $info-color-light, $info-color-dark);
            box-shadow: none;
        }
    }
}
@mixin message-success {
    background-image: linear-gradient( $success-color-light, $success-color 80%, $success-color-dark);
    .close {
        border: 1px solid $success-color;
        background: $success-color;
        box-shadow: inset 0 0 2px $success-color;
        &:hover {
            border: 1px solid $success-color;
            background-image: linear-gradient( $success-color-light, $success-color-dark);
            box-shadow: none;
        }
    }
}
@mixin message-warning {
    background-image: linear-gradient( $warning-color-light, $warning-color 80%, $warning-color-dark);
    .close {
        border: 1px solid $warning-color;
        background: $warning-color;
        box-shadow: inset 0 0 2px $warning-color;
        &:hover {
            border: 1px solid $warning-color;
            background-image: linear-gradient($warning-color-light, $warning-color-dark);
            box-shadow: none;
        }
    }
}

@mixin message-error {
    background-image: linear-gradient( $error-color-light, $error-color 80%, $error-color-dark);
    .close {
        border: 1px solid $error-color;
        background: $error-color;
        box-shadow: inset 0 0 2px $error-color;
        &:hover {
            border: 1px solid $error-color;
            background-image: linear-gradient( $error-color-light, $error-color-dark);
            box-shadow: none;
        }
    }
}

@mixin stripes($stripe-opacity) {
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, $stripe-opacity) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, $stripe-opacity) 50%, rgba(255, 255, 255, $stripe-opacity) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
    background-size: 60px 60px;
}

/* Messages */
.messages {
    position: fixed;
    z-index: 1000;
    color: #fff;
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    width: 100%;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        //border-bottom: 1px solid $line-color-medium;
    }
    li {
        line-height: 2.9;
    }
    .close {
        display: block;
        color: #fff;
        font-size: 10px;
        line-height: 2.5;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-top: 12px;
        margin-right: 20px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
        span {
            display: block;
            margin-top: -2px;
            margin-left: 1px;
        }
    }

    .info {
        @include message-info;
    }
    .success {
        @include message-success;
    }
    .warning {
        @include message-warning;
    }
    .error {
        @include message-error;
    }
}

.inline-messages {
    position: relative;
    color: #fff;
    font-size: 100%;
    text-align: left;
    .inline-message {
        font-weight: bold;
        padding: 5px 10px;
        border-radius: $default-border-radius;
    }
    .animate {
        @include stripes(0.1);
    }
    .inline-info {
        border: 1px solid $info-color-dark;
        background-color: $info-color;
    }
    .inline-success {
        @include message-success;
        border: 1px solid $success-color-dark;
    }
    .inline-warning {
        @include message-warning;
        border: 1px solid $warning-color-dark;
    }
    .inline-error {
        @include message-error;
        border: 1px solid $error-color-dark;
    }
}

header {
    &.header-info {
        @include message-info;
        .meta small {
            color: #fff;
        }
        nav li.internal {
            box-shadow: 0 0 0 0;
        }
    }
    &.header-success {
        @include message-success;
        .meta small {
            color: #fff;
        }
        nav li.internal {
            box-shadow: 0 0 0 0;
        }
    }
    &.header-warning {
        @include message-warning;
        .meta small {
            color: #fff;
        }
        nav li.internal {
            box-shadow: 0 0 0 0;
        }
    }
    &.header-error {
        @include message-error;
        .meta small {
            color: #fff;
        }
        nav li.internal {
            box-shadow: 0 0 0 0;
        }
    }
}

.hint {
    margin-bottom: 15px;
    padding: 15px 20px;
    border-top: 1px solid $line-color-white;
    border-radius: $default-border-radius;
    &.hint-info {
        color: $info-color;
        text-align: center;
        background-color: $background-color-highlighter;
        box-shadow: $info-color-light 0 1px 1px 0;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $info-color;
            margin: 5px 0;
        }
        p {
            margin-top: 5px;
        }
        a {
            text-decoration: underline;
            &:hover {
                color: $info-color-dark;
            }
        }
        .close {
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url(../img/sprite.png) no-repeat 0 -100px;
        }
    }
    &.hint-success {
        color: $success-color;
        font-size: 120%;
        background-color: $success-color-ultralight;
        box-shadow: $success-color-light 0 1px 1px 0;
        .icon {
            margin-right: 10px;
        }
        span {
            display: inline-block;
        }
    }
    &.hint-warning {
        color: $warning-color;
        font-size: 120%;
        background-color: $warning-color-ultralight;
        box-shadow: $warning-color-light 0 1px 1px 0;
        .icon {
            margin-right: 10px;
        }
        span {
            display: inline-block;
        }
        .button {
            margin-top: -5px;
        }
    }
    &.hint-error {
        color: $error-color;
        font-size: 120%;
        background-color: $error-color-ultralight;
        box-shadow: $error-color-light 0 1px 1px 0;
        .icon {
            margin-right: 10px;
        }
        span {
            display: inline-block;
        }
        .button {
            margin-top: -5px;
            &.small {
                margin-top: -2px;
            }
        }
    }
}
