// mixins

@mixin box() {
    margin-bottom: 5px;
    padding: 0;
    border: none;
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0; 
        margin-bottom: 12px;
    }
}

@mixin stripes($stripe-opacity) {
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, $stripe-opacity) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, $stripe-opacity) 50%, rgba(255, 255, 255, $stripe-opacity) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
    background-size: 100% 400%;
}

@mixin button-common-init {
    border: 1px solid $button-silver-medium-color !important;
    background-color: #fff !important;
    background-image: none !important;
    box-shadow: none !important;
    padding: 10px 30px !important;
    &:hover {
        background: $button-silver-light-color !important;
    }
}

@mixin button-common() {
    @include button-common-init();
    overflow: visible;
    color: $button-silver-font-color !important;
    font-size: 18px !important;
    font-weight: normal !important;
    line-height: 21px !important;
    text-decoration: none !important;
    width: auto;
    border-radius: $default-border-radius;
    &.small {
        padding: 3px 8px 4px !important;
    }
    &:hover,
    &:active,
    &.select,
    &:visited {
        color: $button-silver-font-color;
        text-decoration: none;
        background: $button-silver-light-color;
    }
    &.animate {
        @include stripes(0.2);
    }
}

@mixin button-blue {
    color: $button-blue-font-color !important;
    border: 1px solid $button-blue-medium-color !important;
    background-color: $button-blue-medium-color !important;
    background-image: none;
    box-shadow: none !important;
    &,
    &:visited {
        background-image: none;
    }
    &:hover,
    &:focus {
        color: $button-blue-font-color !important;
        border: 1px solid $button-blue-light-color !important;
        background-color: $button-blue-light-color !important;
    }
    &:active {
        background: $button-blue-medium-color !important;
    }
    &.animate {
        @include stripes(0.1);
    }
}

@mixin button-green {
    color: $button-green-font-color !important;
    border: 1px solid $button-green-medium-color !important;
    background-color: $button-green-medium-color !important;
    box-shadow: none !important;
    &,
    &:visited {
        background-image: none !important;
    }
    &:hover {
        color: $button-green-font-color  !important;
        border: 1px solid $button-green-light-color !important;
        background: $button-green-light-color  !important;
    }
    &:active {
        background: $button-green-medium-color  !important;
    }
    &.animate {
        @include stripes(0.1);
    }
}

@mixin button-orange {
    color: $button-orange-font-color !important;
    border: 1px solid $button-orange-light-color !important;
    border-bottom: 1px solid $button-orange-dark-color !important;
    background-color: $button-orange-medium-color !important;
    background-image: linear-gradient($button-orange-light-color, $button-orange-medium-color);
    box-shadow: inset 0 0 $button-shadow-width $button-orange-light-color;
    &:hover {
        color: $button-orange-font-color;
        background: $button-orange-light-color;
    }
    &:active {
        background: $button-orange-medium-color;
    }
    &.animate {
        @include stripes(0.2);
    }
}

@mixin button-red {
    color: $button-red-font-color !important;
    border: 1px solid $button-red-light-color !important;
    border-bottom: 1px solid $button-red-dark-color !important;
    background-color: $button-red-medium-color !important;
    background-image: linear-gradient($button-red-light-color, $button-red-medium-color) !important;
    box-shadow: inset 0 0 $button-shadow-width $button-red-light-color !important;
    &:hover {
        color: $button-red-font-color !important;
        background: $button-red-light-color !important;
    }
    &:active {
        background: $button-red-medium-color !important;
    }
    &.animate {
        @include stripes(0.2);
    }
}

@mixin button-black {
    color: $button-inactive-font-color !important;
    border: 1px solid $button-black-light-color;
    border-bottom: 1px solid $button-black-dark-color;
    cursor: default;
    background-color: $button-black-medium-color !important;
    background-image: linear-gradient($button-black-light-color, $button-black-medium-color);
    box-shadow: inset 0 0 $button-shadow-width $button-black-light-color;
    &:hover {
        color: $button-black-font-color;
        border-color: $button-black-medium-color;
        background-image: linear-gradient($button-black-light-color, $button-black-medium-color);
    }
    &:active,
    &.select {
        color: $button-black-font-color;
        border-color: $button-black-medium-color;
        background-image: linear-gradient($button-black-light-color, $button-black-medium-color);
    }
    &.animate {
        @include stripes(0.1);
    }
}

@mixin button-inactive {
    color: $button-inactive-font-color;
    border: 1px solid $button-inactive-light-color;
    border-bottom: 1px solid $button-inactive-dark-color;
    cursor: default;
    background-color: $button-inactive-medium-color !important;
    background-image: linear-gradient($button-inactive-light-color, $button-inactive-medium-color);
    box-shadow: inset 0 0 $button-shadow-width $button-inactive-light-color;
    &:hover {
        color: $button-inactive-font-color;
        border-color: $button-inactive-medium-color;
        background-image: linear-gradient($button-inactive-light-color, $button-inactive-medium-color);
    }
    &:active,
    &.select {
        color: $button-inactive-font-color;
        border-color: $button-inactive-medium-color;
        background-image: linear-gradient($button-inactive-light-color, $button-inactive-medium-color);
    }
    &.animate {
        @include stripes(0.1);
    }
}
