// base
html,
body {
    height: auto;
}
#content {
    margin: 0 5px;
}
#container {
    min-width: 240px !important; 
    margin: 0;
}
#branding {
    .site-name {
        display: none;
    }
}
.login #branding {
    display: block;
}
#user-tools {
    position: relative;
    text-align: center;
}

// general
.module {
    padding: 5px 0 5px 0 !important;
    border: none;
    box-shadow: none !important;
    caption {
        margin-bottom: 5px;
        margin-left: 5px;
    }
}
div.breadcrumbs {
    padding-left: 5px;
}
.plugin-holder {
    display: none !important;
}

// login
body.login {
    #container {
        width: auto !important;
        max-width: 320px;
        #content #content-main {
            .form-row,
            .submit-row {
                text-align: center;
            }
            .form-row input {
                width: auto !important;
                min-width: 40px; 
                max-width: none;
            }
            .submit-row input,
            .submit-row input[type="submit"] {
                width: 80% !important;
            }
        }
    }
}

// dashboard
.colMS {
    margin-right: 10px !important;
}
.dashboard {
    #container {
        #content h1 {
            display: none;
        }
        #content-main {
            float: none;
            min-width: 0;
            max-width: none;
            .module {
                table td {
                    padding-left: 0;
                }
            }
        }
        #content-related {
            position: relative;
            float: none;
            width: auto;
            margin: 0;
            padding-top: 10px;
            border-left: 0;
        }
        #content-related .module {
            margin: 10px 0;
            padding: 10px !important;
            .actionlist {
                margin-left: 10px;
            }
        }
    }
    .module {
        background: none !important;
    }
}

// changelist

.change-list {
    #content {
        .object-tools {
            float: right;
            margin: -35px 0 0 0;
        }
    }
    #toolbar {
        label {
            display: inline-block;
        }
        form #searchbar {
            width: 120px;
        }
        .small {
            display: block;
        }
    }
    .filtered .results,
    .change-list .filtered .paginator,
    .filtered #toolbar,
    .filtered div.xfull {
        margin-right: 0 !important;
    }
    .module #changelist-form .results {
        overflow: auto; 
        width: 100%;
    }
    .filtered {
        .actions,
        .paginator {
            margin-right: 0 !important;
        }
    }
}
#changelist-filter-button,
#changelist-filter {
    display: none !important;
}
.tree {
    background: white;
}

// chageform
.change-form {
    h1 {
        margin-left: 0;
    }
}

// cms language buttons
#page_form_lang_tabs input {
    font-size: 11px !important;
    font-weight: normal !important;
    padding: 2px 4px !important;
}
// nani/hvad language buttons
.nani-language-tabs {
    > span {
        font-size: 11px !important;
        padding: 4px 1px !important;
        a {
            padding: 3px 5px !important;
        }
        .deletelink {
            right: 0 !important;
        }
    }
    > .current {
        padding: 4px 10px 4px 5px !important;
        .deletelink {
            right: -8px !important;
        }
    }
}

// forms
form label,
.aligned label {
    display: block;
    float: none !important;
    line-height: 14px;
    width: auto; 
    margin-top: 5px;
    padding: 0 !important;
}
form {
    input,
    input[type="file"],
    textarea,
    select {
        width: auto; /*max-width: 200px;*/
    }
    .vTextField {
        width: auto;
    }
    .aligned p,
    .aligned ul {
        margin-left: 0 !important; 
        padding-left: 0 !important;
    }
    .submit-row {
        text-align: left;
    }
}

// inlines
.inline-group {
    margin-bottom: 10px;
    padding: 5px;
    .module {
        h2 {
            padding-left: 5px;
        }
    }
}

// filter horizontal m2m
.selector {
    float: none;
    width: auto;
    .selector-available,
    .selector-chosen {
        float: none;
        width: auto;
        p {
            text-align: center;
        }
    }
    .selector-chosen {
        margin-top: 60px;
    }
    ul.selector-chooser {
        display: block; 
        margin-top: 0;
    }
    select[multiple],
    select {
        width: 100%; 
        max-width: none;
    }
    label {
        display: inline-block;
    }
    .selector-available input,
    .selector-chosen input {
        width: auto;
    }
}

// shortcuts
.admin_shortcuts .shortcuts li a {
    padding: 10px 10px 10px 40px; 
    background-size: 20px 20px;
}
.admin_shortcuts .shortcuts li a span {
    padding: 0 !important;
}
.admin_shortcuts .shortcuts li:first-child a {
    padding: 10px 20px;
}
