table {
    width: 100%;
    margin: 20px 0;
    padding: 5px;
    border: none;
    border-radius: $default-border-radius;
    background: $background-color-white;
    th {
        border-bottom: 1px solid $line-color-light;
    }
    th,
    td {
        text-align: left;
        vertical-align: middle; 
        padding: 5px 10px;
    }
    thead th,
    thead th.sorted,
    tfoot td {
        background: $background-color-ultralight;
    }
    thead th.sorted .sortoptions a {
        &.ascending {
            background: url('../img/sorting-icons.png') -5px -50px no-repeat;
            &:hover {
                background: url('../img/sorting-icons.png') -5px -72px no-repeat;
            }
        }
        &.descending {
            background: url('../img/sorting-icons.png') -5px -94px no-repeat;
            &:hover {
                background: url('../img/sorting-icons.png') -5px -115px no-repeat;
            }
        }
        &.sortremove {
            background: url('../img/sorting-icons.png') -4px -5px no-repeat;
            &:hover {
                background: url('../img/sorting-icons.png') -4px -26px no-repeat;
            }
        }
    }
    thead th.sortable{
        min-width: 160px;
        &:hover {
            background: $background-color-light;
        }
        .sortpriority {
            color: white !important;
            padding: 2px 6px !important;
            background-color: $primary-color;
            border-radius: 10px;
        }
    }
    td,
    th {
        font-family: $base-font-family;
        padding: 5px;
    }
    td.original {
        vertical-align: top;
    }
    tr {
        td {
            border-bottom: 1px solid $line-color-ultralight;
        }
    }
    th {
        a,
        a:link,
        a:visited,
        a:link:visited {
            color: $font-color;
        }
    }
    .row1 {
        background: $background-color-white;
    }
    .row2 {
        background: $background-color-ultralight;
    }
}
fieldset table {
    border: none;
}
.results table tbody tr:hover {
    background: $background-color-highlighter;
}
