/*!
 * @copyright: https://github.com/divio/djangocms-admin-style
 */

//##############################################################################
// IMPORT SETTINGS
@import "settings/all";
@import "mixins/all";

//##############################################################################
// IMPORT COMPONENTS
@import "components/base";
@import "components/iconography";
@import "components/icons";
@import "components/modal";
@import "components/sideframe";
@import "components/forms";
@import "components/tables";
@import "components/changelist";
@import "components/cmsplaceholders";
@import "components/content";
@import "components/dialog";
@import "components/dashboard";
@import "components/login";
@import "components/header";
@import "components/filer";
@import "components/footer";
@import "components/shortcuts";
@import "components/drag-and-drop";

//##############################################################################
// IMPORT MOBILE
@media only screen and (max-width: 768px), print {
    @import "components/mobile";
}
