/* Dimensions */
/* inactive */
/* Silver */
/* Blue */
/* Orange */
/* Red */
/* Green */
/* Black */
/* Paddings */
/* Template Editor */
@font-face { font-family: 'django-admin-icons'; src: url("../fonts/django-admin-icons.eot"); src: url("../fonts/django-admin-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/django-admin-icons.svg#django-admin-icons") format("svg"), url("../fonts/django-admin-icons.woff") format("woff"), url("../fonts/django-admin-icons.ttf") format("truetype"); font-weight: normal; font-style: normal; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

body { font-size: 13px; font-family: "Lucida Grande", Verdana, Arial, sans-serif; line-height: 1.231; *font-size: small; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

ul, ol { margin-left: 2em; }

ol { list-style-type: decimal; }

td { vertical-align: top; }

sub { font-size: 75%; line-height: 0; position: relative; bottom: -0.25em; }

sup { font-size: 75%; line-height: 0; position: relative; top: -0.5em; }

a:hover, a:active { outline: none; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

button, input, select, textarea { width: auto; overflow: visible; margin: 0; font-size: 100%; font-family: sans-serif; vertical-align: baseline; }

textarea { overflow: auto; vertical-align: text-top; }

input::-moz-focus-inner, button::-moz-focus-inner { border: 0; padding: 0; }

::-moz-selection { background: none; color: none; text-shadow: none; }

::selection { background: none; color: none; text-shadow: none; }

a:link { -webkit-tap-highlight-color: none; }

.ie7 img { -ms-interpolation-mode: bicubic; }

.ie6 legend, .ie7 legend { margin-left: -7px; }

nav ul, nav li { margin: 0; list-style: none; list-style-image: none; }

.ir { text-indent: -119988px; overflow: hidden; text-align: left; direction: ltr; background-repeat: no-repeat; }

.hidden { display: none; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

html, body { height: auto; }

#header, .breadcrfumbs { display: none; }

#content { margin: 0 5px; }

#container { margin: 0; margin-top: 31px; min-width: 250px !important; }

.module { border: none; box-shadow: none; padding: 5px 0 5px 0 !important; -moz-box-shadow: none !important; -webkit-box-shadow: none !important; -o-box-shadow: none !important; box-shadow: none !important; }
.module caption { margin-bottom: 5px; }

div.breadcrumbs { padding-left: 5px; }

.plugin-holder { display: none !important; }

.colMS { margin-right: 10px !important; }

.dashboard #container #content h1 { display: none; }
.dashboard #container #content-main { min-width: 0; max-width: none; float: none; }
.dashboard #container #content-main .addlink, .dashboard #container #content-main .changelink { text-indent: -9999px; overflow: hidden; }
.dashboard #container #content-related { width: auto; float: none; margin-right: 0; }
.dashboard #container #content-related .module { padding: 10px !important; margin: 10px 0; }
.dashboard #container #content-related .module .actionlist { margin-left: 10px; }
.dashboard .module { background: none !important; }

.change-list #content { margin-top: 38px; }
.change-list #content > h1 { display: none; }
.change-list #content .object-tools { margin: -33px 0 0 0; }
.change-list #toolbar label { display: inline-block; }
.change-list #toolbar form #searchbar { width: 120px; }
.change-list #toolbar .small { display: block; }
.change-list .filtered .results, .change-list .change-list .filtered .paginator, .change-list .filtered #toolbar, .change-list .filtered div.xfull { margin-right: 0 !important; }
.change-list .module #changelist-form .results { width: 100%; overflow: auto; }
.change-list .filtered .actions, .change-list .filtered .paginator { margin-right: 0 !important; }

#changelist-filter-button, #changelist-filter { display: none !important; }

.tree { background: white; }

#sitemap li .col-softroot, #sitemap li .col-language, #sitemap li .col-actions, #sitemap li .col-published, #sitemap li .col-navigation, #sitemap li .col-moderator, #sitemap li .col-lastchange, #sitemap li .col-draft, #sitemap li .col-view-perms, #sitemap li .col-creator { display: none !important; }

#sitemap li .col-softroot, #sitemap li .col-language { display: block !important; }

.change-form #content { margin-top: 45px; }
.change-form #content > h1 { display: none; }
.change-form .object-tools { margin: -35px 0 0 0; }
.change-form .collapsed h2 { border-bottom: none; margin-bottom: 0; }

#page_form_lang_tabs input { font-weight: normal !important; font-size: 11px !important; padding: 2px 4px !important; }

form label, .aligned label { display: block; padding: 0 !important; float: none !important; line-height: 14px; margin-top: 5px; }

form input, form input[type="file"], form textarea, form select { width: auto; max-width: 200px; }
form .vTextField { width: auto; }
form .aligned p, form .aligned ul { padding-left: 0 !important; margin-left: 0 !important; }
form .submit-row { text-align: left; }

.inline-group { padding: 5px; }
.inline-group .module h2 { padding-left: 5px; }

.selector { width: auto; float: none; }
.selector .selector-available, .selector .selector-chosen { width: auto; float: none; }
.selector .selector-available p, .selector .selector-chosen p { text-align: center; }
.selector .selector-chosen { margin-top: 60px; }
.selector ul.selector-chooser { margin-top: 0; display: block; }
.selector select[multiple], .selector select { max-width: none; width: 100%; }
.selector label { display: inline-block; }
.selector .selector-available input, .selector .selector-chosen input { width: auto; }
