name: screenshots

on: [push, pull_request]

jobs:
  screenshots:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6]
        django-version: [
          '2.2',
          '3.0',  # Strings because otherwise 3.0 becomes 3
          '3.1'
        ]
        os: [
          ubuntu-20.04,
        ]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run screeshots
      run: make test VERSION=${{ matrix.django-version }}
